@mixin white-gradient {
  background: linear-gradient(to right, rgb(156 163 175) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 12s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(90vw);
  }
  100% {
    transform: translateX(calc(-180px * 9));
  }
}

// Styling
.slider {
  background: rgba(156, 163, 175, 0.79);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 250px;
  margin: auto;
  overflow-x: hidden;

  position: relative;
  width: 95%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 250px;
    position: absolute;
    width: 150px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  .slide-track:hover {
    animation-play-state: paused;
  }

  .slide {
    position: relative;
  }
  .slide img {
    object-fit: contain;
    max-height: 200px;
    min-height: 200px;
  }
  .slide p {
    position: relative;
  }
}
