@mixin white-gradient {
  background: linear-gradient(to right, #7b6863 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 8s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(calc(-340px * 6));
  }
}

// Styling
.slider {
  background: #7b6863;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1080px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 250px;
    position: absolute;
    width: 150px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    gap: 70px;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  .slide-track:hover {
    animation-play-state: paused;
  }

  .slide {
    position: relative;
    transform: scale(2);
  }

  .slide:hover {
    transform: scale(2.5);
  }
}
