@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: black;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
    radial-gradient(white, rgba(100, 12, 148, 0.464) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 3px, transparent 50px),
    radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-color: black;
  scrollbar-gutter: transparent;
  scrollbar-color: transparent;
  min-height: 100vh;
  min-width: 100vw;
}
